.container {
    width: 100%;
    min-height: 50vh;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    border-radius: 12px;
    padding: 10px;
}



/* Main Menu CSS */
.container .main-menu {
    /* width: 100%; */
    max-width: 100%;
    /* height: auto; */
    min-height: 50vh;
    margin: 0px 0px 20px 0px;
    padding: 20px 45px 20px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 12px;

}

.container .main-menu h2 {
    font-size: 30px;
    font-family: Space Grotesk;
    padding: 10px;
}

.container .main-menu h3 {
    font-size: 30px;
    font-family: Space Grotesk;
    padding: 10px;
}

.container .main-menu button {
    font-size: 20px;
    font-family: Space Gerotesk;
    background-color: gray;
    color: white;
    margin: 20px 0px 0px 0px;
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    /* box-shadow: -2px -2px 2px black; */
    cursor: pointer;
}

.container .main-menu button:hover {
    font-size: 20px;
    font-family: Space Gerotesk;
    background-color: gray;
    color: white;
    margin: 20px 0px 0px 0px;
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 8px;
    /* box-shadow: 2px 2px 2px black; */
    box-shadow: -2px -2px 2px black;
    cursor: pointer;
}

.container .main-menu button:focus {
    font-size: 20px;
    font-family: Space Gerotesk;
    background-color: gray;
    color: white;
    margin: 20px 0px 0px 0px;
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    box-shadow: -2px -2px 2px black;
    cursor: pointer;
}






















/*  Original Image CSS */
.container .originalImage {
    width: 55%;
    height: auto;
    margin: 0px 0px 20px 0px;
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* Compressed Image CSS */
.container .compressed-section {
    width: 55%;
    height: auto;
    margin: 0px 0px 20px 0px;
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .compressed-section h4,
.container .originalImage h4 {
    font-size: 25px;
    font-family: Space Grotesk;
    padding: 10px;
}

.container .compressed-section img,
.container .originalImage img {
    width: 100%;
    height: 30%;
    border-radius: 8px;
}

.container .compressed-section p,
.container .originalImage p {
    font-size: 20px;
    font-family: Space Grotesk;
    padding: 10px;
}

.container .compressed-section button {
    width: 240px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: Space Gerotesk;
    /* background-color: gray; */
    color: rgb(0, 0, 0);
    margin: 20px 0px 0px 0px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 15px;
    cursor: pointer;
}

.container .compressed-section button:hover {
    width: 240px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: Space Gerotesk;
    /* background-color: gray; */
    color: rgb(0, 0, 0);
    margin: 20px 0px 0px 0px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px +10px, rgba(0, 0, 0, 0.3) 0px 30px 60px +10px, rgba(10, 37, 64, 0.35) 0px +2px 6px 0px inset;
    padding: 15px;
    cursor: pointer;
}




















/* Tablet view (up to 768px) */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
    }

    .container .main-menu {
        width: 100%;
        max-width: 100%;
    }

    .container .main-menu h2 {
        color: black;
        font-size: 30px;
        font-family: Space Grotesk;
    }

    .container .main-menu h3 {
        color: black;
        font-size: 30px;
        font-family: Space Grotesk;
    }

    .container .main-menu button {
        width: 190px;
        height: 50px;
        border: none;
        font-size: 20px;
        font-family: Space Gerotesk;
        /* background-color: gray; */
        color: rgb(0, 0, 0);
        margin: 20px 0px 0px 0px;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        padding: 15px;
        cursor: pointer;
    }

    .container .main-menu button:hover {
        font-size: 20px;
        font-family: Space Gerotesk;
        background-color: gray;
        color: white;
        margin: 20px 0px 0px 0px;
        width: 190px;
        height: 40px;
        border: none;
        border-radius: 8px;
        box-shadow: 2px 2px 2px black;
        box-shadow: -2px -2px 2px black;
        cursor: pointer;
    }





    .container .originalImage,
    .container .compressed-section {
        width: 100%;
        height: auto;
        /* background-color: blue; */
    }

    .container .originalImage h4,
    .container .compressed-section h4 {
        color: black;
        font-size: 30px;
        font-family: Space Grotesk;
        padding: 10px;
    }

    .container .originalImage img,
    .container .compressed-section img {
        width: 100%;
        height: auto;
    }

    .container .originalImage p,
    .container .compressed-section p {
        color: black;
        font-size: 30px;
        font-family: Space Grotesk;
        padding: 10px;
    }

    .container .compressed-section button {
        color: black;
        width: 300px;
        height: 50px;
        margin: 10px 0px 0px 0px;
        padding: 4px;
        background: gray;
        box-shadow: 2px 2px 2px black;
        border: none;
        border-radius: 5px;
        font-size: 25px;
        font-weight: 600;
        font-family: Space Grotesk;
    }

    .container .compressed-section button:hover {
        color: black;
        width: 300px;
        height: 50px;
        margin: 10px 0px 0px 0px;
        padding: 4px;
        background: gray;
        box-shadow: -2px -2px 2px black;
        border: none;
        border-radius: 5px;
        font-size: 25px;
        font-weight: 600;
        font-family: Space Grotesk;
    }
}





























/*  Mobile View */
@media screen and (max-width: 480px) {
    .container .main-menu {
        width: 100%;
        height: auto;
    }

    .container .main-menu h2 {
        font-size: 30px;
        font-family: Space Grotesk;
        color: black;
    }

    .container .main-menu h3 {
        font-size: 25px;
        font-family: Space Grotesk;
        color: black;
    }

    .container .compressed-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container .compressed-section h4 {
        width: 100%;
        height: auto;
        font-size: 25px;
        font-family: Space Grotesk;
        color: black;
    }

    .container .compressed-section button {
        width: 300px;
        background-color: gray;
        font-size: 20px;
        font-family: Space Grotesk;
        border-radius: 12px;
        border: 1px solid gray;
        padding: 3px;
        box-shadow: 3px 3px 3px black;
    }

    .container .compressed-section button:hover {
        width: 300px;
        background-color: gray;
        font-size: 20px;
        font-family: Space Grotesk;
        border-radius: 12px;
        border: 1px solid gray;
        padding: 3px;
        box-shadow: -2px -2px 2px black;
    }
}