<div class="container">


  <div class="drop-downContainer">
    <h2>Convert Your Files </h2>
    <select [(ngModel)]="selectedFile">
      <option value="pdf"> PDF Converter </option>
      <option value="image"> Image Converter </option>
      <option value="jpg-png"> Jpg To Png </option>
    </select>
  </div>

  <div class="pdf-converter" *ngIf="selectedFile === 'pdf'">
    <app-pdf-compressor></app-pdf-compressor>
  </div>

  <div class="image-converter" *ngIf="selectedFile === 'image'">
    <app-image-compressor></app-image-compressor>
  </div>

  <div class="image-converter" *ngIf="selectedFile === 'jpg-png'">
    <app-jpg-to-png></app-jpg-to-png>
  </div>


  <router-outlet></router-outlet>
</div>